<div>
    <div>
        <div>
            <span class="h2">Cliente: filet mignon turducken fatback</span>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Buscar Protocolos
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label">
                        No. Protocolo:
                    </label>

                    <div class="input-group col-md-4">
                        <input type="text" name="protocoloUnico" class="form-control" placeholder="nº protocolo">
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        Periodo de Consulta:
                    </label>

                    <div class="input-group col-md-4">
                        <label class="input-group-addon">
                            &nbsp;de
                        </label>
                        <input type="date" id="dataIni" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group col-md-4">
                        <label class="input-group-addon">
                            até
                        </label>
                        <input type="date" id="dataFim" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button class="btn btn-primary">
                            <i class="glyphicon glyphicon-send"></i>&nbsp;Enviar
                        </button>
                        <button class="btn btn-default" type="reset">
                            <i class="glyphicon glyphicon-erase"></i>&nbsp;Redefinir
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button class="btn btn-primary">
                            <i class="glyphicon glyphicon-search"></i>&nbsp;Listar as ultimas recuperações
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-list"></i> Protocolos
        </div>
        <div class="panel-body list-protocolos">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8 col-xs-6 bg-primary">
                                    No. Protocolo
                                </div>
                                <div class="col-md-4 col-xs-6 bg-primary">
                                    Serviço
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-xs-6">
                                    012345678901234
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    RUD MPLS RUD MPLS
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8 col-xs-6 bg-primary">
                                    Designação
                                </div>
                                <div class="col-md-4 col-xs-6 bg-primary">
                                    Status
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-xs-6">
                                    RJO/IP/1234567
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <span class="label label-info text-uppercase">
                                        Aberto
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 bg-primary text-center">
                            Sintoma
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <p class="web-sir-sintoma-out">
Fatback shankle flank andouille corned beef, brisket cow kielbasa drumstick prosciutto beef ribs.
Cupim shank pork belly bresaola short loin, filet mignon turducken fatback.
Short ribs beef spare ribs, turducken chicken tail salami ball tip filet mignon meatball frankfurter turkey shoulder.
Corned beef pork drumstick turkey tri-tip andouille shank ham swine ribeye meatball filet mignon.
Bresaola meatloaf t-bone, pork belly strip steak alcatra sirloin cow capicola shankle chuck shank picanha shoulder andouille.
Ball tip meatloaf kielbasa biltong landjaeger corned beef turkey rump sausage ground round ribeye short loin kevin brisket tail.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <label>Ação Técnica:&nbsp;</label>Fatback shankle flank andouille corned beef.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <label>Posicionamento:&nbsp;</label>Cupim shank pork belly bresaola short loin.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <label>Data Abertura:&nbsp;</label>01/01/1979 21:00
                        </div>
                        <div class="col-md-6 ">
                            <label>Última Atualização:&nbsp;</label>01/01/1979 21:00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Diagnóstico/Providência:&nbsp;</label>Bresaola meatloaf t-bone/Short ribs beef spare ribs
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Data Abertura:&nbsp;</label>01/01/1979 21:00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <label>Data Fechamento Técnico:&nbsp;</label>01/01/1979 21:00
                        </div>
                        <div class="col-md-6 ">
                            <label>Cliente Recebedor:&nbsp;</label>filet mignon turducken fatback
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Data Fechamento Comercial:&nbsp;</label>01/01/1979 21:59
                        </div>
                    </div>
                </div>
            </div>
            <table id="table-list-protocolos" class="display">
                <thead>
                <tr>
                    <th>No. Protocolo</th>
                    <th>Serviço</th>
                    <th>Designação</th>
                    <th>Data Abertura</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>012345678901235</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-info text-uppercase">Aberto</span></td>
                </tr>
                <tr>
                    <td>012345678901236</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-danger text-uppercase">Fechado</span></td>
                </tr>
                <tr>
                    <td>012345678901237</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-info text-uppercase">Aberto</span></td>
                </tr>
                <tr>
                    <td>012345678901238</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-danger text-uppercase">Fechado</span></td>
                </tr>
                <tr>
                    <td>012345678901239</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-info text-uppercase">Aberto</span></td>
                </tr>
                <tr>
                    <td>012345678901231</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-danger text-uppercase">Fechado</span></td>
                </tr>
                <tr>
                    <td>012345678901232</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-info text-uppercase">Aberto</span></td>
                </tr>
                <tr>
                    <td>012345678901233</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48826</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-danger text-uppercase">Fechado</span></td>
                </tr>
                <tr>
                    <td>012345678901234</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48825</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-info text-uppercase">Aberto</span></td>
                </tr>
                <tr>
                    <td>012345678901234</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-danger text-uppercase">Fechado</span></td>
                </tr>
                <tr>
                    <td>012345678901234</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48828</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-info text-uppercase">Aberto</span></td>
                </tr>
                <tr>
                    <td>012345678901234</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-danger text-uppercase">Fechado</span></td>
                </tr>
                <tr>
                    <td>012345678901234</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-info text-uppercase">Aberto</span></td>
                </tr>
                <tr>
                    <td>012345678901234</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-danger text-uppercase">Fechado</span></td>
                </tr>
                <tr>
                    <td>012345678901234</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-info text-uppercase">Aberto</span></td>
                </tr>
                <tr>
                    <td>012345678901234</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-danger text-uppercase">Fechado</span></td>
                </tr>
                <tr>
                    <td>012345678901234</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-info text-uppercase">Aberto</span></td>
                </tr>
                <tr>
                    <td>012345678901234</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-danger text-uppercase">Fechado</span></td>
                </tr>
                <tr>
                    <td>012345678901234</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-info text-uppercase">Aberto</span></td>
                </tr>
                <tr>
                    <td>012345678901234</td>
                    <td>RUD MPLS</td>
                    <td>IP/RJO/48824</td>
                    <td>01/01/1975 01:00</td>
                    <td class="td-center"><span class="label label-danger text-uppercase">Fechado</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $("#table-list-protocolos").removeClass('display')
                .addClass('table table-striped table-bordered');

        if ( $("[type='date']").prop("type") != "date" ) {
            $("[type='date']").datepicker();
        }

        $('input[name="protocoloUnico"]').numeric();
    </script>
</div>